.DS_Store
Thumbs.db

.aiassistant/
.idea/
.venv/
build/
/config/
dist/
lib/*
!lib/LICENSE
!lib/*-*.so
!lib/*-*.pyd
logs/
models/*
!models/LICENSE
!models/mortal.pth
!models/mortal3p.pth
node_modules/
tmp/

__pycache__/
*$py.class
*.egg-info/

.coverage
.coverage.*
coverage.xml
htmlcov/
*.cover
.hypothesis/
.pytest_cache/
.ruff_cache/
